<!doctype html>
<title>{% block title %}{% endblock %} - Weathering</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Weathering</h1>
    <form method="post">
        <label for="zipcode">Zipcode</label>
        <input name="zipcode" id="zipcode" required>
        <input type="submit" value="Search">
    </form>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>